<h1>Gallery</h1>

<%= link_to "New Picture", new_picture_path %>

<% if @pictures.any? %>
<% @pictures.each do |picture| %>
  <div class="well">
  <li><%= image_tag picture.image, :class => "image-size" %></li>
  <li>Title: <%=link_to picture.title, picture_path(picture)  %></li>
  <li>Description: <%= picture.description %></li>


  </div>
<% end %>
<% else %>
  <li>There are no pictures yet!</li>
<% end %>
