@import "bootstrap-sprockets";
@import "bootstrap";


* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.well {
  max-width: 100%;

}

.navbar{
  background-color: #333 !important;
  color: #F5B041;
  border: none;
}

.navbar a:link {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
}

.navbar a:hover {
  color: #fff;
  background-color: #000;
  font-size: 1em;
  text-decoration: none;
}

.navbar a:visited {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
}
.navbar a:active {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
}

nav {
  padding-top: 14px;
}

.shift {
  padding-right: 15px;
  padding-left: 15px;
}

a:active {
  color: #000;
  font-size: 1.5em;
}
a:visited {
  color: #000;
  font-size: 1.5em;
}
a:hover {
  color: #F5B041;
  font-size: 1.5em;
  text-decoration: none;
}
a:link {
 color: #F5B041;
 font-size: 1em;
}

.bar {
  width: 100%;
  height: 5px;
  background-color: #F5B041;
}

.vote-number {
  font-size: 1.5em;
  margin-right: 20px;
}
.form-group {
  width: 200px;
}


body {
  background-color: #888;
  min-height: 300px;
}

//CONTROL PANEL
.control-panel {
  background-color: #fff;
  height: 120px;
  width: 100%;
  text-align: center;
  margin-top:200px;
  position: fixed;
        bottom: 0;

}
.control-text {
  font-size: 50px;
}

//FORM TEXT
.input-lg {
  font-size: 50px;
  height: 70px;
}

.btn-lg {
  height: 80px;
  width: 200px;
  text-align: center;
}

.field {
  margin: 15px;
}



.container {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  padding: 0;

}

// TOP NAVIGATION

.nav {
  // font-size: 50px;
  width: 100%;
}

.navbar-custom {
  background-color: #fff;
  height: 130px;
  padding-top: 25px;
  text-align: center;
}

.logo {
  font-size: 50px;
  margin:auto;
  margin-left: 0px;
  margin-right: 0px;
}

.login-text {
  padding-top: 20px;
  font-size: 20px;
}

.center {
  text-align: center;
}
